<a href="https://colab.research.google.com/github/rajni-arora/Python-script-2024/blob/main/Tuple1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## getsizeof()

Belongs to the python's sys module.

In [4]:
import sys

tuple1 = ("A", 1, "B", 2, "C", 3)
tuple2 = ("Geeks", "for", "Geeks", "Hema", "titu", "harshu")
tuple3 = ((1, "Lion"), (2, "Tiger"), (3, "Fox"), (4, "wolf"))

In [8]:
print("Size of tuple1 - " + str(sys.getsizeof(tuple1)))
print("Size of tuple2 - " + str(sys.getsizeof(tuple2)))
print("Size of tuple3 - " + str(sys.getsizeof(tuple3)))

Size of tuple1 - 88
Size of tuple2 - 88
Size of tuple3 - 72

## __sizeof__()

In [13]:
tuple1 = ("A", 1, "B", 2, "C", 3)
print(str(tuple1.__sizeof__()) + " bytes")

72 bytes

## Maximum and Miinimum of k elements in Tuple

which means extract maximum of k and minimum of k. Exclude middle one.
1. Sort + loop
2. slicing + sorting

In [44]:
# 1.
test_tup = (3,7,1,18,9)
k = 2
res = []
test_tup = list(sorted(test_tup))

for idx, val in enumerate(test_tup):
  if idx<k or idx>=len(test_tup)-k:
    res.append(val)
res = tuple(res)
print(res)

(1, 3, 9, 18)

In [48]:
# 2.
test_tup = (5, 20, 3, 7, 6, 8)
k = 2

test_tup = list(sorted(test_tup))
test_tup = tuple(test_tup[:2] + test_tup[4:])
print(test_tup)

(3, 5, 8, 20)

## Sum of elements in Tuple

In [50]:
test_tup = (7, 8, 8, 9, 1 , 10, 7)
test_tup = list(test_tup)
sum = 0
for i in test_tup:
  sum = sum+i

print(sum)

50

## Sum of elements thru Reduce()

In [56]:
import operator
from functools import reduce

def summation(test_tum):
  return reduce(operator.add, test_tup)

test_tup = (1,2,3,4,5,6,7)
print(summation(test_tup))

28

## Sum of elements thru Numpy()

In [62]:
import numpy as np

test_tup = (1,2,3,4,5)
test_array = np.array(test_tup)
print(test_array)

res = np.sum(test_array)
print(res)

[1 2 3 4 5]
15

## Row-wise element addition in Tuple Matrix

In [72]:
test_list = [(5,6),(5,7),(5,10),(6,8),(6,10),(7,13)]
res = []
for sub in test_list:
  if res and res[-1][0] == sub[0]:
    print("res",res)
    print("res[-1][0]--",res[-1][0])
    res[-1].extend(sub[1:])
  else:
    res.append([ele for ele in sub])

res = list(map(tuple, res))

print(str(res))

res [[5, 6]]
res[-1][0]-- 5
res [[5, 6, 7]]
res[-1][0]-- 5
res [[5, 6, 7, 10], [6, 8]]
res[-1][0]-- 6
[(5, 6, 7, 10), (6, 8, 10), (7, 13)]